/*! Bank of Melbourne GUI --currentVersion--
 */
/*
 * Module 1
 *
 * doc comment with stuff and stuff
 *
 */
/*
 * Module 2
 *
 * doc comment with stuff and stuff
 *
 */
/*
 * Module 3
 *
 * doc comment with stuff and stuff
 *
 */
/*
 * Module 4
 *
 * doc comment with stuff and stuff
 *
 */
/*
 * Module svg
 *
 * doc comment with stuff and stuff
 *
 */

/*
 * Settings
 *
 * Uncomment or comment to enable or disable modules
 *
 */
/*! Bank of Melbourne GUI --currentVersion--
 */
/*
 * Module 1
 *
 * doc comment with stuff and stuff
 *
 */
/*
 * Module 2
 *
 * doc comment with stuff and stuff
 *
 */
/*
 * Module 3
 *
 * doc comment with stuff and stuff
 *
 */
/*
 * Module 4
 *
 * doc comment with stuff and stuff
 *
 */
/*
 * Module svg
 *
 * doc comment with stuff and stuff
 *
 */
/* ---------------------------------------| Modules |--------------------------------------- */
.module-1 {
  background-color: pink;
  padding: 21px;
  overflow: hidden;
}
.module-1 .module-1-child {
  background-color: yellow;
  padding: 5%;
  width: 40%;
  float: left;
}
